<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/cocktails">
    <img src="https://image.flaticon.com/icons/svg/1942/1942312.svg" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/cocktails">All Cocktails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cocktails/new">Add a Cocktail</a>
      </li>
    </ul>
  </div>
</div>
